<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrapper course results">
			<header class="head">
				<span class="header-back mui-action-back">
					<img src="img/detail_03.png"/>
				</span>
				<div>
					<span id="select">
						
					</span>
					<img src="img/shoplist_13.png" class="top-img"/>
				</div>
				<span class="search">
					<img src="img/list_03.png"/>
				</span>
			</header>
			<div class="main shoplist goodlist">
				<img src="img/list_06.png" class="main-img"/>
				<div class="goodtype">
					<div class="goodsubtype good-this"  data-id="2">
						积分商品
					</div>
					<div class="goodsubtype" data-id="0">
						特价商品
					</div>
				</div>
				<div class="shoplist-nav">
					<div class="nav-tab active" id="all">
						<span class="tab-name">
								综合
						</span>
					</div>
					<div class="nav-tab" id="price">
						<span class="tab-name">
								价格
							</span>
						<div class="tab-box">
							<div class="default">
								<img src="img/shoplist_07.png" />
								<img src="img/shoplist_13.png" />
							</div>
							<div class="upshow">
								<img src="img/sjoplist_03.png" />
								<img src="img/shoplist_13.png" />
							</div>
							<div class="bottomshow">
								<img src="img/shoplist_07.png" />
								<img src="img/shoplist_10.png" />
							</div>
						</div>
					</div>
					<div class="nav-tab" id="num">
						<span class="tab-name">
								销量
							</span>
						<div class="tab-box">
							<div class="default">
								<img src="img/shoplist_07.png" />
								<img src="img/shoplist_13.png" />
							</div>
							<div class="upshow">
								<img src="img/sjoplist_03.png" />
								<img src="img/shoplist_13.png" />
							</div>
							<div class="bottomshow">
								<img src="img/shoplist_07.png" />
								<img src="img/shoplist_10.png" />
							</div>
						</div>
					</div>
				</div>
				<div class="course-main">
					<div class="course-box" id="goodList">
						<div class="course-group" @click="movetogoods(site.id)" v-for="site in sites">
							<img v-bind:src="site.cover" class="school-img" />
							<div class="course-text">
								<h1>
										{{site.name}}
									</h1>
								<div class="school-price">
									<span v-if="site.goods_type!=2">
										¥ <strong>{{site.price}}</strong><span class="yellow">增:{{site.add_integral}}积分</span>
									</span>
									<span v-if="site.goods_type==2">
										积分: <strong>{{site.price}}</strong><span class="yellow"></span>
									</span>
									<span v-if="site.goods_type!=2">
										可用券<strong>{{site.add_cardvolume}}</strong>
									</span>
								</div>
								<div class="school-num">
									<span class="money-old"></span>
									<span>
											销量：{{site.sales}}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="shoplist-alert" id="type_list">
					<div class="alert-group" v-bind:data-id="site.id" v-for="site in sites">
						<img src="img/shoplist03_03.png"/>
						<img src="img/shopnav_06.png" class="type-img"/>
						<span>
							{{site.class_name}}
						</span>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		    function movetogoods(id){
		    	localStorage.GoodsId=id;
		    	opennew2('goodsdetail');
		    }
		    function opennew2(target) {
					mui.openWindow({
						url: '' + target + '.html',
						id: '' + target + ''
					})
		    }
		    
			$(function() {
				function opennew(target) {
					mui.openWindow({
						url: '' + target + '.html',
						id: '' + target + ''
					})
				}
				var goodsList= new Vue({
					  el: '#goodList',
					  data: {
					    sites:''
					}
				});
				getType();
				function getType(){
					$.ajax({
									type:"get",
									url:window.Config.ApiServer+"/shops/",
									data:{
										"service":"Goods.getGoodsType"
									},
									async:true,				
									success: function(data){
										console.log(JSON.stringify(data));
										new Vue({
											  el: '#type_list',
											  data: {
											    sites:data.data
											  },
											  mounted: function() {
								                $('.alert-group').click(function(){
													$('.alert-group').removeClass('activenav')
													$(this).addClass('activenav');
													window.typeId=$(this).attr('data-id');
													$('.head div span').html($(this).children('span').html());
													sendList(window.typeId,'p_asc');
												})
												$('.shoplist-alert').click(function(){
													$(this).css('top','-100%')
												});
												window.typeId=localStorage.getItem('GoodsType');
												var texts=$('.alert-group[data-id='+window.typeId+']').find('span').html();
												$('.alert-group[data-id='+window.typeId+']').addClass('activenav');
												$('#select').html(texts);
												sendList(window.typeId,'p_asc');
								            }
										});
				                    },
						            error: function(error) {
						                console.log(error);
						            }
				    });	
				}
				function getGoodsType(){
					window.goods_type=$('.good-this').attr('data-id');
					return window.goods_type;
				}
				function sendList(typeId,order){
					var goodtype=getGoodsType();
					$.ajax({
									type:"get",
									url:window.Config.ApiServer+"/shops/",
									data:{
										"service":"Goods.getGoodsListByType",
										"typeId": typeId,
										"order":  order,
										"goods_type":goodtype
									},
									async:false,				
									success: function(data){
										console.log(JSON.stringify(data));
										goodsList.sites=data.data;
				                    },
						            error: function(error) {
						                console.log(error);
						            }
						    });	
				}
				$('.goodsubtype').click(function(){
					$('.goodsubtype').removeClass('good-this')
					$(this).addClass('good-this')
				})
				$('.main').scroll(function(){
					if($(this).scrollTop()>$('.shoplist-nav').offset().top+40){
						$('.shoplist-nav').css('position','absolute')
					}else{
						$('.shoplist-nav').css('position','inherit')
					}
				})
				//				全部商品
				$('#all').click(function() {
					$('.upshow').hide()
					$('.bottomshow').hide()
					$('.nav-tab').removeClass('active')
					$(this).addClass('active')
					$('.default').show()
					$('#all .botom').show()
				})
				//				按价格排序
				$('#price').click(function() {
					tab(0)
				})
				//				按销量排序
				$('#num').click(function() {
					tab(1)
				})
				$('.alert-group').click(function(){
					$('.alert-group').removeClass('activenav')
					$(this).addClass('activenav')
					$('.head div span').html($(this).children('span').html())
				})
				$('.shoplist-alert').click(function(){
					$(this).css('top','-100%')
				})
				$('.course-group').click(function(){
					opennew('goodsdetail')
				})
				$('.head div').click(function(){
					$('.shoplist-alert').css('top',0)
				})
				$('.wrapper').scroll(function(){
					if($(this).scrollTop()>=($('.main-img').height()+$('.head').height())){
						$('.shoplist-nav').css('position','fixed')
					}else{
						$('.shoplist-nav').css('position','inherit')
					}
				})
				$('.search').click(function(){
					opennew('search')
				})
				function tab(index) {
					$('.default').show()
					$('#all .botom').hide()
					if(index == 0) {
						$('.upshow').eq(1).hide()
						$('.bottomshow').eq(1).hide()
					} else {
						$('.upshow').eq(0).hide()
						$('.bottomshow').eq(0).hide()
					}
					$('.nav-tab').removeClass('active')
					$(this).addClass('active')
					$('.default').eq(index).hide()
					if($('.upshow').eq(index).css('display') == 'none') {
						if(index==0){
						     sendList(window.typeId,'p_asc');
						}
						else{
							sendList(window.typeId,'s_asc');
						}
						$('.upshow').eq(index).show()
						$('.bottomshow').eq(index).hide()
					} else {
						if(index==0){
						   sendList(window.typeId,'p_desc');
						}
						else{
							sendList(window.typeId,'s_desc');
						}
						$('.bottomshow').eq(index).show()
						$('.upshow').eq(index).hide()
					}
				}
				$('.goodsubtype').click(function(){
					sendList(window.typeId,'p_asc');
				})
			})
		</script>
	</body>

</html>