<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="wrapper index">
			<div class="myvideo">
				<video autoplay="autoplay" controls="controls"></video>
			</div>
			<!--提示框-->
			<div class="myalert">
				<div class="alert-main">
					<div class="text">
						您还未登录，立即登录？
					</div>
					<div class="setting">
						<div id="no">
							取消
						</div>
						<div id="yes">
							确定
						</div>
					</div>
				</div>
			</div>
			<!--顶部搜索框-->
			<header class="head">
				<form action="" onsubmit="return false">
					<img src="img/search.png" onclick="gosearch()" />
					<input id="searchText" type="text" placeholder="搜一下，发现精彩" />
				</form>
				<img src="img/new.png" />
			</header>
			<!--主体部分-->
			<div class="main">
				<!--主体顶部导航栏-->
				<div class="tabnav">
					<div class="tab" id='myscan'>
						<img src="img/sao.png" />
						<span>
							扫一扫
						</span>
					</div>
					<div class="tab" id="myclass">
						<img src="img/index02.png" />
						<span>
							我的课程表
						</span>
					</div>
					<div class="tab" id="jifen" onclick="opennew2('my-points')">
						<img src="img/jifen.png" />
						<span>
							我的积分
						</span>
					</div>
					<div class="tab" id="mymoney" onclick="opennew2('my-cart')">
						<img src="img/qianbao.png" />
						<span>
							我的钱包
						</span>
					</div>
				</div>
				<!--主体轮播图-->
				<div class="mui-slider" id="slide_box">
					<div class="mui-slider-group" id="slide">
						
							<div class="mui-slider-item" v-for="site in sites">
								<a href="#"><img v-bind:src="site.url"/></a>
							</div>
						</template>
						<!--<div class="mui-slider-item video">
								<video poster="img/back.jpg" src="img/UC-download.mp4"></video>
								<img src="img/play.png"/>
						</div>-->
					</div>
				</div>
				<div class="index-title">
					<span></span>
					<img src="img/indextitle.gif" />
					<span onclick="goToHotList()">
					更多
						<img src="img/indexarr.png"/>
					</span>
				</div>
				<div class="index-main" id="tejia" >
					<template>
						<div class="index-tab" v-for="site in sites" @click="setId(site.id)" v-bind:data-id="site.id">
							<img v-bind:src="site.cover" />
							<div class="title">
								{{site.name}}
							</div>
							<div class="money">
								<span>
									¥{{site.price}}
								</span> 可用券{{site.card_volume_limit}}
							</div>
						</div>
					</template>	
				</div>
				<!--分销商品-->
				<div class="index-title">
					<span></span>
					<img src="img/index02_03.gif" />
					<span onclick="goTojifenList()">
					更多
						<img src="img/indexarr.png"/>
					</span>
				</div>
				<div class="mui-slider bottom-slide">
					<div class="mui-slider-group" id="jingpin">
						<template>
						<div class="mui-slider-item index-tab02" v-for="site in sites" @click="setId(site.id)" v-bind:data-id="site.id">
							<img v-bind:src="site.cover"/>
							<div class="price">
								积分:{{site.price}}
							</div>
							<div class="oldprice">
								{{site.market_price}}
							</div>
						</div>
						</template>
					</div>
				</div>
				<p class="index-p">
					客官，进入商城有更多精彩哦~
				</p>
			</div>
			<!--底部导航栏-->
			<bottom class='bottom'>
				<div class="bottom-tab active" data-target='index'>
					<img src="img/index-active.png" />
					<span>
						首页
					</span>
				</div>
				<div class="bottom-tab" data-target='course'>
					<img src="img/bottom02.png" />
					<span>
						课程
					</span>
				</div>
				<div class="bottom-tab" data-target='shop'>
					<img src="img/index03.png"/>
					<span>
						商城
					</span>
				</div>
				<div class="bottom-tab" data-target='shopcart'>
					<img src="img/index04.png" />
					<span>
						购物车
					</span>
				</div>
				<div class="bottom-tab" data-target='user'>
					<img src="img/my.png" />
					<span>
						我的
					</span>
				</div>
			</bottom>
		</div>
	</body>
	<script type="text/javascript">
	    function goTojifenList(){
		   opennew2('jifenlistall');
	    }
	    function goToHotList(){
		   opennew2('hotlist');
	    }
	    function gosearch(){	
	    	localStorage.searchGoodsText=$('#searchText').val();
	    	opennew2('searchgoodlist');
	    }
	    function opennew2(target) {
				mui.openWindow({
					url: '' + target + '.html',
					id: '' + target + ''
				})
		}
	    function setId(id){
			   	localStorage.GoodsId=id;
			   	opennew('goodsdetail');
		}
		$(function() {
			
//			var gallery = mui('.mui-slider');
//			gallery.slider({
//			  interval:3000//自动轮播周期，若为0则不自动播放，默认为0；
//			});
			function plusReady() {
				// 弹出系统等待对话框
				var w = plus.nativeUI.showWaiting("数据加载中...");
				mui.getJSON("manifest.json",null,function(data){
				   var nownumber= data.version.name;
				   console.log(nownumber);
				   $.ajax({
							type:"get",
							url:window.Config.ApiServer+"/shops/",
							data:{
								"service":"GetSvnNumber.getList",
							},
							async:false,				
							success: function(data){
								console.log(JSON.stringify(data));
			                    if(data.data.version_number!=nownumber){
			                    	closeWaiting();
			                    	alert('版本更新');
			                    	if(mui.os.android){
			                    	    location.href=data.data.url1;
			                    	}
			                    	else{
			                    		location.href=data.data.url2;
			                    	}
			                    }
		                    },
				            error: function(error) {
				                console.log(error);
				            }
				     });
			});
				getData();		
				
			}
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener("plusready", plusReady, false);
			}
			$('.bottom-tab').click(function() {
				opennew($(this).attr('data-target'))
			});
			function closeWaiting(){
				plus.nativeUI.closeWaiting();
			}
			$('#myclass').click(function(){
				opennew('mycourse');
			})
			/*获取数据*/
			function opennew(target) {
				mui.openWindow({
					url: '' + target + '.html',
					id: '' + target + ''
				})
			}
			//			二维码扫描
			$('#myscan').click(function() {
				opennew('scan')
			})
			$('.video img').click(function(){
				$(this).prev().click()
			})
			$('video').click(function(){
				$('.myvideo video').attr('src',$(this).attr('src'))
				$('.myvideo').show()
			})
			$('.myvideo').click(function(){
				$('.myvideo').hide()
				$('.myvideo video').attr('src','')
			})
			function getData(){
				/*幻灯片*/
				$.ajax({
							type:"get",
							url:window.Config.ApiServer+"/shops/",
							data:{
								"service":"Advertising.showListByAid",
								"aId":2
							},
							async:true,				
							success: function(data){
			                    new Vue({
								  el: '#slide',
								  data: {
								    sites:data.data
								  },
								  mounted: function() {
					                var gallery = mui('#slide_box');
					                gallery.slider({
					                    interval: 3000
					                });
					            },
								});
								closeWaiting();
		                    },
				            error: function(error) {
				                console.log(error);
				            }
				     });
				/*特卖商品*/
				$.ajax({
							type:"get",
							url:window.Config.ApiServer+"/shops/",
							data:{
								"service":"Goods.indexSale",
								"number":6
							},
							async:true,				
							success: function(data){
			                    new Vue({
								  el: '#tejia',
								  data: {
								    sites:data.data
								  }
								});
								closeWaiting();
		                    },
				            error: function(error) {
				                console.log(error);
				            }
				     });
				/*积分商品*/ 
				$.ajax({
							type:"get",
							url:window.Config.ApiServer+"/shops/",
							data:{
								"service":"Goods.getByNumberIntegral",
								"number":6
							},
							async:true,				
							success: function(data){
			                    new Vue({
								  el: '#jingpin',
								  data: {
								    sites:data.data
								  }
								});
								closeWaiting();
		                    },
				            error: function(error) {
				                console.log(error);
				            }
				     });
			}
		})
		/*获取数据*/
			function opennew(target) {
				var wobj = plus.webview.getWebviewById(target);
                 if(wobj!=null){
                    wobj.reload(true);
                 }
				mui.openWindow({
					url: '' + target + '.html',
					id: '' + target + ''
				})
			}
</script>
</html>