<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
		<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
	    <script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="wrapper orderhistory cart">
			<!--提示框-->
			<div class="myalert">
				<div class="alert-main">
					<div class="text">
						您确定取消此订单？
					</div>
					<div class="setting">
						<div id="no">
							取消
						</div>
						<div id="yes">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="head">
				<span class="header-back mui-action-back">
					<img src="img/detail_03.png"/>
				</span>
				<div>
					我的积分
				</div>
				<span>
					
				</span>
			</header>
			<div class="main" id="list">
				<div class="cart-group" v-for="site in sites">
					<template>
						<div class="cart-name">
							{{site.beizhu}}
						</div>
						<div class="cart-money">
							<span class="cart-type" v-if="site.action==0">
								支出
							</span>
							<span class="cart-type" v-if="site.action==1">
								收入
							</span>
							<div class="cart-price">
								<span>¥</span> {{site.money}}
							</div>
						</div>
						<div class="cart-setting">
							<span class="cart-num">
								{{site.create_time}}
							</span>
						</div>
					</template>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {


				function opennew(target) {
					mui.openWindow({
						url: '' + target + '.html',
						id: '' + target + ''
					})
				}
				$.ajax({
							type:"get",
							url:window.Config.ApiServer+"/shops/",
							data:{
								"service":"MoneyLog.getIntegralList",
								"signature":localStorage.getItem('token')
							},
							async:true,				
							success: function(data){
							    console.log(JSON.stringify(data));
			                    new Vue({
								  el: '#list',
								  data: {
								    sites:data.data
								  }
								});
		                    },
				            error: function(error) {
				                console.log(error);
				            }
				    });
			})
		</script>
	</body>

</html>